/* POLICES DE CARATERES */

@font-face {
	font-family: 'Otama';
	src: url('../font/Otama.otf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body
{
	background-color: WHITE;
	margin:0;
	padding:0;
	width: 100%;
	overflow: hidden;
}
header
{
	top:0px;
	font-weight: lighter;
	height: 4em;
	width: 100%;
	background-color: #FF5544;
	margin:0;
	padding:0;
}

.title
{
	font: 2em "Otama";
	color: #e3e3e3;
	padding: 0.5em;
}

section
{
	position: relative;
	display: inline-block;
	background-color: #262626;
	color:#F25439;
	font: 1em "Helvetica",courier;
	font-weight: lighter;
	text-align: left;
}

#blocMap
{
	display: block;
	position: absolute;
	background-color: #262626;
	right: -700px;
	top: 4em;
	height: 480px;
	width: 700px;

	transition:all 0.6s cubic-bezier(.62,.06,.49,.96) 0s;

}

#blocMap:hover
{

	display: block;
	position: absolute;
	background-color: #262626;
	right: 0px;
	top: 4em;
	height: 480px;
	width: 680px;
}

#map
{
	position: absolute;
	margin: 10px;
	height: 460px;
	width: 680px;
}


#btnMap
{
	overflow-x: hidden;
	position: inherit;
	background-color: inherit;
	left: -84px;
	padding:10px;
}


.btnAccueil
{
	color:#e3e3e3;
	text-decoration: none;
}
.btnConnexion
{
	font: 1em "Helvetica" , courier;
	position: absolute;
	top:1em;
	right:3em;
	padding:15px;
	color:#e3e3e3;
	text-decoration: none;
	border: 0.14em solid #e3e3e3;
	line-height:0;
}
.btnConnexion:hover
{
	transition: all 0.2s linear 0s;
	color: #FF5544;
	background-color: #e3e3e3;
}
.nextWeek
{
	text-decoration:none;
	font: 2em "Helvetica";
	color:#FF5544;
}
.nextWeek:hover
{
	transition:all 0.1s linear 0s;
	font-size: 2.1em;
	padding-left: 0.5em;
}
.pastWeek
{
	text-decoration:none;
	font: 2em "Helvetica";
	color:#FF5544;
}
.pastWeek:hover
{
	transition:all 0.1s linear 0s;
	font-size: 2.1em;
	padding-right: 0.5em;
}

#calendar
{
	position: relative;
	margin-top: 2em;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2em;
	font: 1em "Helvetica", Courier, monospace;
	padding-left: 1em;
	border-left: 0.2em solid #262626;
}
caption
{
	color: #e3e3e3;
	font: 2em "Otama";
	text-align: left;
	padding-left: 0.4em;
}
.calendar-head
{
	color:#e3e3e3;
	margin: 0;
	padding: 0;
}
.calendar-head th
{
	min-width:4.1em;
	text-align: center;
	line-height: 2em;
}
.calendar-head p
{
	font: 1.8em "Helvetica";
	line-height: 1.2em;
	color: #FF5544;
	padding: 0;
	margin:0;
}
.calendar-body
{
	vertical-align: top;
	text-align: center;
}
.sHoraire
{
	transition: all 0.1s linear 0s;
	padding: 4px 2px;
	text-decoration: none;
 	color:#e3e3e3;
 	line-height: 2em;
 	border-left:0.0em solid #e3e3e3;
}
.sHoraire:hover,
.sHoraire:focus
{
	padding: 1px 8px;
	transition: all 0.1s linear 0s;
	border-left:0.15em solid #e3e3e3;
	color:#5183AD;
}

#blocMedecins
{
	position: relative;
	background-color: #e3e3e3;
	height:auto;
	padding-top:2%;
	overflow: hidden;
    text-align:center;
}
.icnMedecin
{
	float:left;
	height: 80px;
	width: 80px;

}
.vignetteMedecin
{
	transition: all 0.4s ease 0s;
	font : 1em "Helvetica";
	color: #262626;
	background-color: #e3e3e3;

	display: inline-block;
	vertical-align:middle;
	margin-top:1%;
	overflow: hidden;

	width:250px;
	height:80px;
}
.vignetteMedecin p
{
	padding-left:0.5em;
	float:left;
	text-align:left;
}
.vignetteMedecin:hover,
.vignetteMedecin:focus
{
	transition: all 0.4s ease 0s;
	color: #e3e3e3;
	background-color:#FF5544;
	padding-left:10px;
	padding-right: 10px;
}
