/* #FF5544 = red */
/* #3F3F3F = gray */

@font-face {
	font-family: 'Otama';
	src: url('../font/Otama.otf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

a{
  color: inherit;
  text-decoration: none;
}

body{
   width: 100%;
   height: 920px;
   position: absolute;
   background-image: url("../img/connect_background.jpg");
   background-position: top right;

}

/* ------- HEADER ------ */

header{
   position:absolute;
   top:0px;

   width: 100%;
   height: 67px;

   font-weight: lighter;
   background-color: #ff5858;
   color: WHITE;

   -webkit-transition: all 0.5s;
   -moz-transition: all 0.5s;
   transition: all 0.5s;
}

.title{
  position: absolute;
  padding: 0.4em;
  font: 2.2em "Otama";

}

/* ------- SWITCHER ------ */

.switcher{
	z-index:2;
	position: relative;
   margin-top: 140px;
   margin-left: 10%;
   width: 280px;

	transition:all 0.6s cubic-bezier(.62,.06,.49,.96) 0.5s;
}

.switcher-rotate{


	transition:all 0.6s cubic-bezier(.62,.06,.49,.96) 0.5s;
}


/* ------- FORMULAIRE INSCRIPTION------ */

.inscription-form{



   position: inherit;

   background-color: rgb(242,242,242) ;

   -moz-box-shadow: 0px 0px 10px 0px #343434;
   -webkit-box-shadow: 0px 0px 10px 0px #343434;
   -o-box-shadow: 0px 0px 10px 0px #343434;
   box-shadow: 0px 0px 10px 0px #343434;

   transition:all 0.6s cubic-bezier(.62,.06,.49,.96) 0.5s;
   transform: perspective( 600px ) rotateX( 0deg );
}

.inscription-form-rotate{
   transition:all 0.6s cubic-bezier(.62,.06,.49,.96) 0s;
   transform: perspective( 600px ) rotateX( 90deg );
}

.inscription-form fieldset{
   border:none;
   margin: 0 0 10px 0;
   padding:0;
}

.inscription-form fieldset:first-child{
   padding-top: 20px;
}

.inscription-form input{
   width: 230px;
   margin: 5px 20px;
   padding: 8px 8px;
   background-color: rgb(236,236,236);
   color:#262626;
	border: none;

}

.inscription-form input[type='submit']{
   font-family: 'avenir next';
   font-size: 20;
   height: 60px;
   width:100%;
   color:WHITE;
   margin:20px 0 0 0;
   background-color: rgb(77,192,253);
	border:none;
}

.inscription-form input:hover[type='submit']{
   background-color: rgb(77,180,253);
}
.inscription-form label{
   display:block;
   font-family: 'avenir next';
   font-weight:normal;
   margin: 0 0 0 20px;
   line-height: 1.4;
   color : #262626;
}

/* ------- FORMULAIRE CONNEXION------ */

.connect-form{

	background-color: rgb(242,242,242) ;

   -moz-box-shadow: 0px 0px 10px 0px #343434;
   -webkit-box-shadow: 0px 0px 10px 0px #343434;
   -o-box-shadow: 0px 0px 10px 0px #343434;
   box-shadow: 0px 0px 10px 0px #343434;

   transition:all 0.6s cubic-bezier(.62,.06,.49,.96) 0s;
   transform: perspective( 600px ) rotateX( -90deg );
   margin-top: -410px;
}
.connect-form-rotate{
   transition:all 0.6s cubic-bezier(.62,.06,.49,.96) 0.5s;
   transform: perspective( 600px ) rotateX( 0deg );
}

.connect-form fieldset{
   border:none;
   margin: 0 0 10px 0;
   padding:0;
}

.connect-form fieldset:first-child{
   padding-top: 20px;
}

.connect-form input{
   width: 230px;
   margin: 5px 20px;
   padding: 5px 8px;
	background-color: rgb(236,236,236);
   color:#262626;
	border: none;

}

.connect-form input[type='submit']{
   font-family: 'avenir next';
   font-size: 20;
   height: 60px;
   width:100%;
   color:WHITE;
   margin:20px 0 0 0;
   background-color: rgb(77,192,253);
	border:none;
}

.connect-form input:hover[type='submit']{
   background-color: rgb(77,180,253);
}
.connect-form label{
	display:block;
   font-family: 'avenir next';
   font-weight:normal;
   margin: 0 0 0 20px;
   line-height: 1.4;
   color : #262626;
}

/* ------- INFORMATIONS------ */

.infosInscription{

	position: absolute;
	z-index:1;

	bottom:0px;
	top:400px;
	right:0px;
	left:0;


	padding-left: 45%;
	padding-top: 20px;
	padding-bottom:40px;
	padding-right:40px;

	font-family: 'avenir next';
	color: #3F3F3F;
	background-color: rgba(240, 240, 240, 0.9);


}

.infosInscription a{
	z-index: 2;
	color: #FF5544;
}

.infosInscription-rotate h1,
.infosInscription-rotate p,
.infosInscription-rotate a{
	visibility: hidden;
}

.infosConnexion{
	z-index: 2;
	font-family: 'avenir next';
	color: #3F3F3F;
	position: absolute;
	left: 45%;
	top: 420px;

	opacity: 0;

}
.infosConnexion a{
	padding-left: 20px;
	color: #FF5544;
}

.infosConnexion-rotate{
	opacity: 1;
}
